<%- include("../partials/nav.ejs") %>
<link rel="stylesheet" href="css/ordercart.css">
<section class="cart">
 <div class="order container mx-auto">
   <div class="order-div">
     <img src="img/ordercart.png" id="orderimg"alt="ordercart">
     <h1 id="order-h1">Order Summary</h1>
   </div>
   <hr>  
   <% let total=0%>
   <%for (const data of cartdata){%>
    <%total+=data.price%>
    <div class="ordersum"> 
     <img src="<%=data.image%>" alt="pizza" id="sumpizza">
     <span id="pizza-name"><%=data.name%></span>
   <span><b>&#8377 <%=data.price%></b></span>
   <form action="/deletecart/<%=data.id%>" method="post" class="deletebutton">
    <button id="delete-pizza">❌</button>
   </form>
  </div> 
  <%}%><hr>
<hr>
<br>
<br>
<div class="total-div">
<h2 id="total">Total Amount:</h2>
<h1 id="price">&#8377 <%=total%></h1>
</div>
<br>
<br>
<form action="/order" method="post" >
<div id="dataform">
  <input type="tel"  maxlength="10" class="border border-gray-600 p-2 mb-4 " placeholder="Phone-Number" name="phonenumber" required> 
  <input type="text" class="border border-gray-600 p-2 mb-4 " placeholder="Address" name="address" required>
</div>
<br>
<div  id="button-order">
<button type="submit" id="orderbutton">Cash On Delivery</button>
</div>
</form> 
</section>
<br>
<br>
<br>
<%- include("../partials/footer.ejs") %>
